<h1>{{title}}</h1>
<h3>{{scoutName}}</h3>
<div class="row">
    <div class="two columns">   
        <span>Starting Balance</span><br>     
        <span>Rafting Fees</span><br>
        <span>Backpacking Fees</span><br>
        <span>Fishing Fees</span><br>
        <span>Climbing Fees</span><br>
        <span></span>        
        <br>
        <span><strong>Current Balance in Account</strong></span><br>
        
        
    </div>
    <div class="two columns">
        <span>{{starting}}</span><br>
        <span>{{rafting}}</span><br>
        <span>{{backpacking}}</span><br>
        <span>{{fishing}}</span><br>
        <span>{{climbing}}</span><br>
        <br>
        <span><strong>{{balance}}</strong></span><br>
    </div>
</div>