<h1>{{title}}</h1>
<section>
    <div>
        Scout Name: <br>
        {{scoutName}}
    </div>
    <div>
        Tech Chip Honor Card Status: <br>
        {{cardStatus}}
    </div>
    <div>
        Date Card Activated: <br>
        {{dateCardActivated}}
    </div>
    <div>
        Corners Remaining: <br>
        {{cornersRemaining}}
    </div>
</section>